<div class="page-wrapper">
    <div class="container">
        <div class="obrazec">
            <h1>Prijava</h1>
            <i class="bi bi-google"></i>
            <form (ngSubmit)="izvediPrijavo()">
                <!-- <app-obvestila [obvestilo]='obvestilo'></app-obvestila> -->
                <button id="submit_button" class="btn btn-outline-dark" type="submit">
                    <i class="fab fa-google"></i> Prijava
                </button>
            </form>
        </div>
    </div>
</div>
